

a {
  color: black;
}

.row-eq-height {
  display: inline-block;
  flex-wrap: wrap;
}
.indeximg{
  width: 80%;
  height:auto;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}