body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.row-eq-height {
  display: inline-block;
  flex-wrap: wrap;
}
.indeximg{
  width: 80%;
  height:auto;
}
